.container
    .jumbotron
        h1 Med App Demo
        p Putting your medical records back in your care
        
    .row
        .col-md-6
            div(ng-include="'partials/main/test1'")
        .col-md-6
            div(ng-include="'partials/main/test2'")